<section>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add</mat-icon>
          Pridať novú knihu
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-book-form (saved)="addBook($event)"></app-book-form>
    </mat-expansion-panel>
  </mat-accordion>

  <app-cart [books]="borrowedBooks()" (returned)="giveBack($event)"></app-cart>

  <h2>Zoznam kníh</h2>
  <p>V knižnici je spolu {{ books.length }} kníh.</p>
  
   @for (book of books; track book.id; let i = $index) {
  @if (isOnCurrentPage(i)) {
    <app-book-card
      [book]="book"
      (borrowed)="borrow(book)"
      (returned)="giveBack(book)"
      (edited)="editBook(book)"
      (deleted)="deleteBook($event)">
    </app-book-card>
  }
}
  <div class="pagination">
    <button matButton="outlined" (click)="previousPage()" [disabled]="currentPage === 1">
      <mat-icon>chevron_left</mat-icon>
      Predošlá
    </button>

    <span>Strana {{ currentPage }} z {{ pageCount() }}</span>

    <button matButton="outlined" (click)="nextPage()" [disabled]="currentPage === pageCount()">
      Ďalšia
      <mat-icon iconPositionEnd>chevron_right</mat-icon>
    </button>
  </div>
</section>